<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Trevin_Coding_Challenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD9D2DAB1EB1884500AB5894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD9D2DC21EB1884500AB5894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD9D2DCD1EB1884600AB5894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
